useDynLib(ganGenerativeData)
export(dsCreateWithDataFrame)
export(dsActivateColumns)
export(dsDeactivateColumns)
export(dsGetActiveColumnNames)
export(dsGetInactiveColumnNames)
export(dsWrite)
export(dsRead)
export(dsGetRow)
export(dsGetNumberOfRows)
export(gdTrainParameters)
export(gdTrain)
export(gdGenerateParameters)
export(gdGenerate)
export(gdRead)
export(gdPlotProjection)
export(gdGetRow)
export(gdGetNumberOfRows)
export(gdCalculateDensityValues)
export(gdCalculateDensityValue)
export(gdCalculateDensityValueQuantile)
export(gdPlotParameters)
export(gdPlotDataSourceParameters)
export(gdKNearestNeighbors)
export(gdComplete)
export(gdWriteSubset)
export(gdServiceTrain)
export(gdServiceGetGenerativeModel)
export(gdServiceGetGenerativeData)
export(gdServiceGetStatus)
export(gdServiceDelete)
importFrom(Rcpp, evalCpp)
import(tensorflow)
import(httr)
importFrom(grDevices, dev.off, png, rgb)
importFrom(graphics, legend, par, plot, points)
importFrom(stats, runif)
