useDynLib(ganGenerativeData)
export(dsCreateWithDataFrame)
export(dsActivateColumns)
export(dsDeactivateColumns)
export(dsGetActiveColumnNames)
export(dsGetInactiveColumnNames)
export(dsWrite)
export(dsRead)
export(dsGetRow)
export(dsGetNumberOfRows)
export(gdGenerate)
export(gdRead)
export(gdPlot2dProjection)
export(gdGetRow)
export(gdGetNumberOfRows)
export(gdCalculateDensityValues)
export(gdCalculateDensityValue)
export(gdCalculateDensityValueQuantile)
export(gdPlotParameters)
export(gdPlotDataSourceParameters)
export(gdKNearestNeighbors)
export(gdComplete)
importFrom(Rcpp, evalCpp)
import(tensorflow)
importFrom(grDevices, dev.off, png, rgb)
importFrom(graphics, legend, par, plot, points)
importFrom(stats, runif)
